@import url(https://fonts.googleapis.com/css?family=Cutive+Mono);
@import url(https://fonts.googleapis.com/css?family=Lato);
.signature-logo {
  filter: invert(100%);
}

.main-jumbotron {
  padding-top: 6em;
  padding-bottom: 6em;
  background-image: url("/public/polygon-bg.jpeg");
  background-size: cover;
  background-attachment: fixed;
}

h1, h2, h3 {
  font-family: "Cutive Mono", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-weight: 700;
}

.divider {
  padding-bottom: 1rem;
}

.spacer {
  background-color: #fff;
  width: 100%;
  padding: 2em;
}

.mobile-spacing {
  margin-bottom: 1em;
}

.profile-photo {
  height: 8em;
}