.main-jumbotron {
  padding-top: 8em !important;
  padding-bottom: 8em !important;
  background: rgba(57,7,136,1);
  background: linear-gradient(152deg, rgba(84,255,164,1) 0%, rgba(49,179,203,1) 43%, rgba(57,7,136,1) 100%);
}

.profile-photo {
  max-height: 11em;
  filter: brightness(90%);
}

.footertron {
  padding-top: 8em !important;
  padding-bottom: 8em !important;
}

.bg-darker {
  background-color: #1e2125;
}
